In [ ]:
import sqlite3
import random
from faker import Faker
import datetime

In [11]:
# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('CustomerEngagementDB.db')
cursor = conn.cursor()

# Creating the Customers table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        age INTEGER CHECK(age >= 0),
        join_date DATE,
        status TEXT CHECK(status IN ('Active', 'Inactive')),
        income REAL,
        city TEXT,
        membership_level INTEGER,
        satisfaction_index INTEGER CHECK(satisfaction_index BETWEEN 0 AND 100),
        email TEXT UNIQUE
    )
''')

# Creating the Orders table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        order_id INTEGER PRIMARY KEY AUTOINCREMENT,
        customer_id INTEGER,
        order_date DATE,
        amount REAL,
        product_name TEXT,
        quantity INTEGER CHECK(quantity > 0),
        discount_percentage INTEGER CHECK(discount_percentage BETWEEN 0 AND 100),
        service_duration_minutes INTEGER,
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
    )
''')

# Creating the Reviews table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Reviews (
        review_id INTEGER PRIMARY KEY AUTOINCREMENT,
        customer_id INTEGER,
        order_id INTEGER,
        review_date DATE,
        rating INTEGER CHECK(rating BETWEEN 1 AND 5),
        comments TEXT,
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
        FOREIGN KEY (order_id) REFERENCES Orders(order_id),
        UNIQUE(customer_id, order_id)
    )
''')

# Data generation using Faker
fake = Faker()
start_date = datetime.date(2020, 1, 1)
end_date = datetime.date(2024, 12, 31)

# Helper function to generate a random date between start_date and end_date
def random_date():
    return fake.date_between(start_date=start_date, end_date=end_date)

# Inserting data into the Customers table
customers_data = []
for _ in range(100):
    customers_data.append((
        fake.first_name(),
        fake.last_name(),
        random.randint(18, 90),  # age
        random_date(),  # join_date
        random.choice(['Active', 'Inactive']),  # status
        round(random.uniform(20000, 100000), 2),  # income
        fake.city(),  # city
        random.randint(1, 5),  # membership_level
        random.randint(0, 100),  # satisfaction_index
        fake.unique.email()  # email
    ))
cursor.executemany('''
    INSERT INTO Customers (first_name, last_name, age, join_date, status, income, city, membership_level, satisfaction_index, email)
VALUES ('John', 'Doe', 29, '2023-06-15', 'Active', 55000.00, 'London', 3, 85, 'john.doe@example.com');
''', customers_data)


# Inserting data into the Orders table
orders_data = []
for _ in range(200):
    orders_data.append((
        random.randint(1, 1000),  # customer_id
        random_date(),  # order_date
        round(random.uniform(10, 1000), 2),  # amount
        fake.word(),  # product_name
        random.randint(1, 10),  # quantity
        random.randint(0, 100),  # discount_percentage
        random.randint(30, 300)  # service_duration_minutes
    ))
cursor.executemany('''
   INSERT INTO Orders (customer_id, order_date, amount, product_name, quantity, discount_percentage, service_duration_minutes)
    VALUES (5, '2024-05-12', 250.50, 'GadgetPro', 3, 10, 120);
''', orders_data)

# Inserting data into the Reviews table
reviews_data = []
for _ in range(50):
    reviews_data.append((
        random.randint(1, 100),  # customer_id
        random.randint(1, 2000),  # order_id
        random_date(),  # review_date
        random.randint(1, 5),  # rating
        fake.sentence()  # comments
    ))
cursor.executemany('''
    INSERT INTO Reviews (customer_id, order_id, review_date, rating, comments)
    VALUES (5, 12, '2024-06-15', 4, 'Great service and prompt delivery.');
''', reviews_data)

# Commit changes and close the connection
conn.commit()
conn.close()

In [3]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('CustomerEngagementDB.db')
cursor = conn.cursor()

# Retrieve and display table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

Tables in the database: [('Customers',), ('sqlite_sequence',), ('Orders',), ('Reviews',)]

In [4]:
import pandas as pd

customers= pd.read_csv('Customers.csv')
customers.head()

,customer_id,first_name,last_name,age,join_date,status,income,city,membership_level,satisfaction_index,email
0,1.0,Steve,Lloyd,79.0,2021-06-01,Inactive,54895.98,Hansonborough,2.0,75.0,mauricesilva@barrera.com
1,2.0,Patricia,Smith,54.0,2024-05-22,Active,2543.53,New Kevinport,1.0,73.0,cbeck@salazar.com
2,3.0,Joshua,Cordova,90.0,2021-09-09,Inactive,84735.92,Danaside,3.0,38.0,biancagill@flores.com
3,4.0,Barbara,Johnson,45.0,2023-03-15,Inactive,36762.95,Port Anthonyshire,2.0,90.0,briansharp@yahoo.com
4,5.0,Heather,Allen,28.0,2024-06-02,Inactive,33029.45,Anthonyview,4.0,46.0,oharris@park.com

In [12]:
customers.shape

(1612, 11)

In [3]:
num_duplicates_customers = customers.duplicated().sum()
print("Number of duplicate rows for customers:", num_duplicates_customers)

Number of duplicate rows for customers: 98

In [2]:
# Number of missing values in the customers table 
customers.isna().sum()

customer_id           34
first_name            23
last_name             25
age                   17
join_date             34
status                30
income                32
city                  26
membership_level      31
satisfaction_index    28
email                 28
dtype: int64

In [22]:
# Orders table
orders = pd.read_csv('Orders.csv')
orders.head()

,order_id,customer_id,order_date,amount,product_name,quantity,discount_percentage,service_duration_minutes
0,1.0,441.0,2024-10-11,109.71,public,13.0,16.0,86.0
1,2.0,633.0,2024-07-07,829.59,choose,17.0,20.0,139.0
2,3.0,607.0,2024-03-21,672.93,position,2.0,47.0,172.0
3,4.0,580.0,2024-04-25,123.35,understand,5.0,26.0,152.0
4,5.0,621.0,2024-04-05,358.40,authority,9.0,6.0,108.0

In [14]:

# shape of orders dataset
orders.shape

(2110, 8)

In [15]:
num_duplicates_orders = orders.duplicated().sum()
print("Number of duplicate rows in orders data:", num_duplicates_orders)

Number of duplicate rows in orders data: 88

In [16]:
# Number of missing values in the orders table 
orders.isna().sum()

order_id                    33
customer_id                 44
order_date                  37
amount                      36
product_name                34
quantity                    42
discount_percentage         34
service_duration_minutes    40
dtype: int64

In [17]:
# Reviews table
reviews = pd.read_csv('Reviews.csv')

In [18]:
# shape of the data
reviews.shape

(518, 6)

In [31]:
num_duplicates_review = reviews_m.duplicated().sum()
print("Number of duplicate rows in reviews data:", num_duplicates_review)

Number of duplicate rows in reviews data: 18

In [19]:
# Number of missing values in the reviews table 
reviews.isna().sum()

review_id       8
customer_id     4
order_id        5
review_date    11
rating         12
comments       12
dtype: int64